doctype html
html
    head
        title Test
        script(src="/socket.io/socket.io.js")
        script(src="script.js")
        
    body
        div.container
            header
                h1 Hello World
